mixin icon(iconName)
  svg&attributes(attributes).icon: use(xlink:href="#" + iconName)

mixin modal(modalID)
  div&attributes(attributes).modal(id=modalID)
    .modal__close.btn.btn--plain.btn-close-modal
      +icon("cross").icon--block
    .modal__inner
      .modal__content
        block

mixin fieldInput(inpID, inpPlaceholder)
  .field.form__field
    label.field__label(for=inpID)
      input&attributes(attributes).field__input(id=inpID)
      .field__placeholder !{inpPlaceholder}
    block

mixin fieldTextarea(inpID, inpPlaceholder)
  .field.form__field
    label.field__label(for=inpID)
      textarea&attributes(attributes).field__input(id=inpID)
      .field__placeholder !{inpPlaceholder}
    block

mixin fieldSearch(inpID, inpPlaceholder)
  .field.form__field.field--search
    label.field__label(for=inpID)
      input&attributes(attributes).field__input(id=inpID)
      .field__placeholder !{inpPlaceholder}
    button.field__btn
      +icon('loupe')

mixin fieldCheckbox(inpID, inpText, fieldClass = false)
  .field.form__field.field--checkbox(class=fieldClass ? fieldClass : "")
    label.field__label(for=inpID)
      .field__box
        input&attributes(attributes).field__input(id=inpID, type="checkbox")
        .field__icon
          +icon('check')
      .field__text !{inpText}

mixin fieldRadio(inpID, inpText, fieldClass = false)
  .field.form__field.field--radio(class=fieldClass ? fieldClass : "")
    label.field__label(for=inpID)
      .field__box
        input&attributes(attributes).field__input(id=inpID, type="radio")
        .field__icon
          +icon('check')
      .field__text !{inpText}

mixin gift(gift, mode, altImg = false, altTitle = false)
  div&attributes(attributes).gift.card(class= mode =='ext'? 'gift--ext' : '')
    .gift__content
      if mode == 'ext'
        if altTitle
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center.l-hidden-md-up !{gift.month}
        else
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center.l-hidden-md-up !{gift.title}
        .gift__img: img(src= altImg ? gift.imgAlt : gift.img, alt=gift.name)
        .gift__info
          if altTitle
            .gift__title.tp-heading--medium.tp-text--primary.l-hidden-sm-down !{gift.month}
          else
            .gift__title.tp-heading--medium.tp-text--primary.l-hidden-sm-down !{gift.title}
          .gift__name.tp-body--big
            b !{gift.name}
          .gift__desc !{gift.desc}
      else
        if altTitle
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center !{gift.month}
        else
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center !{gift.title}
        .gift__img.tp-text--center: img(src= altImg ? gift.imgAlt : gift.img, alt=gift.name)
        .gift__name.tp-body--big.tp-text--center
          b !{gift.name}
          
mixin accordion(item)
  div&attributes(attributes).accordion
    .accordion__header
      .accordion__header-q
        +icon('q')
      .accordion__header-text
        span !{item.q}
      .accordion__header-carret
        +icon('arrow')(class="icon--stroked")
    .accordion__body
      .accordion__content !{item.a}
      
mixin state(state)
  div&attributes(attributes).state(class="state--" + state)
    .state__img: img(src=states[state].img, alt=states[state].text)
    .state__text !{states[state].text}