//- social
mixin social(isInline, hasTitle)
  .social(class=isInline ? "social--inline" : '')
    if hasTitle
      .social__title Поделитьcя
    if isInline && hasTitle
      .social__delimiter
    #share

mixin icon(iconName)
  svg&attributes(attributes).icon: use(xlink:href="#" + iconName)

mixin allGirl(girl)
  div&attributes(attributes).all-girl
    .all-girl__media
      .all-girl__img: img(src=girl.img, alt=girl.name.first + ' ' + girl.name.family)
      .all-girl__link
        a.btn.btn--primary(href=girl.url) Читать
      .all-girl__product: img(src=girl.productImg, alt="")
    .all-girl__info
      .all-girl__name
        .name= girl.name.first
        .family= girl.name.family
      .all-girl__profession= girl.profession.short

mixin otherGirl(girl)
  div&attributes(attributes).other-girl
    a.other-girl__link(href=girl.url)
      .other-girl__profession= girl.profession.short
      .other-girl__img: img(src=girl.img, alt=girl.name.first + ' ' + girl.name.family)
      .other-girl__name
        .name= girl.name.first
        .family= girl.name.family
        
mixin product(product)
  div&attributes(attributes).product
    a.product__link(href=product.url, target="_blank")
      .product__img-wrapper
        .product__img-bg
        .product__img: img(src=product.img, alt=product.name)
      .product__name !{product.name}

mixin expert(expert)
  div&attributes(attributes).expert
    .l-container
      .expert__salons-btn.mx-auto.my-5
        a.btn.btn--secondary(href="https://www.nioxin.com/ru-RU/salonfinder", target="_blank") Найти салоны Nioxin
      .expert__heading
        .tp-heading--styled-2
          .title Комментарий
          .subtitle= expert.title.rp
      .expert__content
        .expert__media
          .expert__btn
            .btn.btn--secondary.btn--big.js-modal(data-target="#modal-form")= "Задать вопрос " + expert.title.dp
          .expert__img: img(src=pers.expert.contentImg, alt="")
        .expert__info
          .expert__about
            .expert__photo: img(src=expert.img, alt=expert.name)
            .expert__about-info
              .expert__name= expert.name
              .expert__position !{expert.position}
            .expert__text.mCustomScrollbar(data-mcs-theme="rounded-dark") !{expert.text}

mixin slider(slider, fullName)
  .slider
    .l-container
      .slider__heading
        .tp-heading--styled-2
          .title 30&nbsp;дней
          .subtitle с&nbsp;nioxin
      .slider__content
        .slider__carousel.owl-carousel.carousel--default
          each slide in slider
            .slider__item.slide(data-dot=slide.date)
              .slide__img: img(src=slide.img, alt=fullName)
              .slide__info
                .slide__heading
                  .tp-heading--medium.title !{slide.title}
                  .tp-subheading--small.subtitle !{slide.note}
                .slide__text.mCustomScrollbar(data-mcs-theme="rounded-dark") !{slide.text}

mixin modal()
  div&attributes(attributes).modal
    .modal__bg
    .modal__window
      .modal__close.btn.btn--plain.btn-close-modal.js-close-modal Закрыть
      .modal__content
        block

mixin fieldInput(inpID, inpPlaceholder)
  .field.form__field
    label.field__label(for=inpID)
      input&attributes(attributes).field__input(id=inpID)
      .field__placeholder= inpPlaceholder

mixin fieldTextarea(inpID, inpPlaceholder)
  .field.form__field
    label.field__label(for=inpID)
      textarea&attributes(attributes).field__input(id=inpID)
      .field__placeholder= inpPlaceholder

mixin squareBrakets(contentText)
  div&attributes(attributes).square-brakets
    .expander
    .content
      block

mixin gift(gift, mode, altImg = false, altTitle = false)
  div&attributes(attributes).gift.card(class= mode =='ext'? 'gift--ext' : '')
    .gift__content
      if mode == 'ext'
        if altTitle
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center.l-hidden-md-up !{gift.month}
        else
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center.l-hidden-md-up !{gift.title}
        .gift__img: img(src= altImg ? gift.imgAlt : gift.img, alt=gift.name)
        .gift__info
          if altTitle
            .gift__title.tp-heading--medium.tp-text--primary.l-hidden-sm-down !{gift.month}
          else
            .gift__title.tp-heading--medium.tp-text--primary.l-hidden-sm-down !{gift.title}
          .gift__name.tp-body--big
            b !{gift.name}
          .gift__desc !{gift.desc}
      else
        if altTitle
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center !{gift.month}
        else
          .gift__title.tp-heading--medium.tp-text--primary.tp-text--center !{gift.title}
        .gift__img.tp-text--center: img(src= altImg ? gift.imgAlt : gift.img, alt=gift.name)
        .gift__name.tp-body--big.tp-text--center
          b !{gift.name}
          
mixin accordion(item)
  div&attributes(attributes).accordion
    .accordion__header
      .accordion__header-q
        +icon('q')
      .accordion__header-text
        span !{item.q}
      .accordion__header-carret
        +icon('arrow')(class="icon--stroked")
    .accordion__body
      .accordion__content !{item.a}
      
mixin state(state)
  div&attributes(attributes).state(class="state--" + state)
    .state__img: img(src=states[state].img, alt=states[state].text)
    .state__text !{states[state].text}